@charset "UTF-8";

/**
 * @author Prenom Nom courriel
 * @todo Lier les modules avec des instructions @import
 * @todo Compléter selon l'énoncé de l'exercice
 */
/*
 * ------------------
 * TABLE DES MATIERES
 * ------------------
 * Librairies
 ** Normalize
 * UTILITAIRES
 ** Variables
 ** Mixins
 * BASE
 ** Typographie
 ** Hyperliens
 ** Boutons
 * MODULES
 ** gds - Styles généraux du Guide de styles
 ** palette - Palette de couleurs
 ** listeInteractivite - Éléments interactifs
 */
/****** Librairies ******/
/* Import pour le carrousel */
@import "https://unpkg.com/open-props" layer(design.system);
@import "https://www.unpkg.com/layout-craft@1.0.1/dist/utilities.css"
layer(base.utilities);

/** Normalize **/
/**** UTILITAIRES ****/
/** Variables **/
/**
* @author Prenom Nom courriel
* @todo Importer la fonte Futura
* @todo Personnaliser les variables selon les spécifications du guide visuel
*       Certaines variables devront être définies par une fonction de coloration
* @todo Compléter selon l'énoncé de l'exercice
* @todo Utiliser le sélecteur & pour les sélecteurs des différentes couleurs
*/
/** Polices de caractères **/
/* Importation de la typographie Satoshi Black */
@font-face {
  font-family: 'Satoshi Black';
  src: url('../fonts/satoshi/Satoshi-Black.otf') format('opentype'),
    url('../fonts/satoshi/Satoshi-Black.woff') format('woff'),
    url('../fonts/satoshi/Satoshi-Black.woff2') format('woff2');
}

/* Importation de la typographie Satoshi Bold */
@font-face {
  font-family: 'Satoshi Bold';
  src: url('../fonts/satoshi/Satoshi-Bold.otf') format('opentype'),
    url('../fonts/satoshi/Satoshi-Bold.woff') format('woff'),
    url('../fonts/satoshi/Satoshi-Bold.woff2') format('woff2');
}

/* Importation de la typographie Satoshi Medium */
@font-face {
  font-family: 'Satoshi Medium';
  src: url('../fonts/satoshi/Satoshi-Medium.otf') format('opentype'),
    url('../fonts/satoshi/Satoshi-Medium.woff') format('woff'),
    url('../fonts/satoshi/Satoshi-Medium.woff2') format('woff2');
}

/* Importation de la typographie LcMogi A */
@font-face {
  font-family: 'Lc Mogi A';
  src: url('../fonts/lcmogi/LCMogi-A.otf') format('opentype'),
    url('../fonts/lcmogi/LCMogi-A.woff') format('woff'),
    url('../fonts/lcmogi/LCMogi-A.woff2') format('woff2');
}




/** Palette de couleurs **/
.light-theme {
  --clr-background: #e5e5e5;
  --clr-foreground: #FAFAFA;
  --clr-mainbutton: #496AF5;
  --clr-mainbutton-hover: #889CEF;
  --clr-sidebutton: #514747;
}

.dark-theme {
  --clr-background: #222222;
  --clr-foreground: #0E0E0E;
  --clr-mainbutton: #496AF5;
  --clr-mainbutton-hover: #889CEF;
  --clr-sidebutton: #E5E5E5;
}

:root {
  --clr-nav-hover: #222222;
  --clr-text-black: #0E0E0E;
  --clr-text-white: #FAFAFA;
  --clr-error-bg: #FFB0AB;
  --clr-success-bg: #ABFFBD;
  --clr-checked-bg: #CC258C;
  --clr-error-text: #FF0000;
  --clr-succes-text: #00FF00;

  --fontsize-h1-xl: 4rem;
  --fontsize-h1-m: 3.5rem;
  --fontsize-h1-s: 3rem;

  --fontsize-h2-xl: 1.5rem;
  --fontsize-h2-m: 1.25rem;
  --fontsize-h2-s: 1rem;

  --fontsize-text-xl: 1rem;
  --fontsize-text-m: 1rem;
  --fontsize-text-s: 1.5rem;


  --surface-1: oklch(0.17 0 0);
  --surface-2: oklch(0.24 0 0);
  --surface-3: oklch(0.46 0 0);

  --text-1: oklch(0.97 0 0);
  --text-2: oklch(0.57 0 0);
  --text-3: oklch(0.42 0 0);

  --custom-radios: 10px;

}

/* Couleurs de base */
/* Autres couleurs */
/** Points de rupture **/
/** Mixins **/
/**
* @author Ève Février - efevrier@cegep-ste-foy.qc.ca
* @author Yves Hélie - yves.helie@cegep-ste-foy.qc.ca
*/
/**
 * ----------------------------
 * TABLE DES MATIERES - MIXINS
 * ----------------------------
 * Utilitaires de base
 ** Box sizing
 ** Clearfix
 * Accessibilité
 * Typographie
 */
/********** Utilitaires de base **********/
/** Box sizing **/
/* Clearfix */
/********* Accessibilité *********/
.visuallyhidden,
.screen-reader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus,
.screen-reader-only.focusable:active,
.screen-reader-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/******** Typographie *********/
/****** BASE ******/
/** Typographie **/
/**
* @author Prenom Nom courriel
* @todo Préciser l’interlignage sur le body pour l’écran large
* @todo Utiliser le mixin fontSize pour définir les tailles de polices
* @todo Utiliser une variable pour la media query de la règle body
*/
/**** Typographie responsive ****/
html {
  font-size: 62.5%;
}

body {
  font-family: 'Satoshi Medium', sans-serif;
  font-size: 16px;
  /* 16px pour toutes les largeurs d'écran */
  font-size: 1.6rem;
  line-height: 1.375;
  /* facteur multiplicateur de la taille de la police 1.375x16=22 */
}

h1,
.titreNiveau1,
h2,
.titreNiveau2,
h3,
.titreNiveau3 {
  font-family: "Satoshi Black", sans-serif;
  font-weight: 900;
}

h1,
.titreNiveau1 {
  font-size: 28px;
  font-size: calc(size / 10px)rem;
  margin: 0;
}

h1--desktop,
.titreNiveau1--desktop {
  font-size: 48px;
  font-size: 4.8rem;
  padding-bottom: 15px;
  position: relative;
}

h1--desktop:after,
.titreNiveau1--desktop:after {
  background-color: #358ae0;
  content: "";
  display: inline-block;
  width: 150px;
  height: 8px;
  position: absolute;
  left: 0;
  bottom: 0;
}

h2,
.titreNiveau2 {
  font-size: 20px;
  font-size: 2rem;
  text-transform: uppercase;
}

h2--desktop,
.titreNiveau2--desktop {
  font-size: 28px;
  font-size: 2.8rem;
}

h3,
.titreNiveau3 {
  font-size: 18px;
  font-size: 1.6rem;
}

h3--desktop,
.titreNiveau3--desktop {
  font-size: 22px;
  font-size: 2.2rem;
}

.texte {
  font-family: "Satoshi medium", sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.375;
}

.texte--desktop {
  line-height: 1.5;
}

/** Hyperliens **/
/**
* @author Prenom Nom courriel
* @todo Compléter selon l'énoncé de l'exercice
*/
.hyperlien {
  color: #2678B5;
  text-decoration: none;
}

.hyperlien--visited {
  color: #226aa0;
}

.hyperlien--hover {
  color: #144061;
  text-decoration: underline;
}

.hyperlien--active {
  color: #bbd531;
  text-decoration: underline;
}

/** Boutons **/
/**
* @author Prenom Nom courriel
* @todo Compléter selon l'énoncé de l'exercice
*/
.bouton {
  background-color: #bbd531;
  border-radius: 18px;
  color: black;
  padding: 0.5em 1em;
  text-decoration: none;
}

.bouton:after {
  content: "»";
  margin-left: 0.4em;
}

.bouton--hover {
  background-color: rgba(187, 213, 49, 0.75);
}

.bouton--active {
  background-color: rgba(187, 213, 49, 0.5);
}

.bouton--inverse {
  background-color: white;
  border: 2px solid #bbd531;
}

.bouton--inverse--hover {
  border-color: rgba(187, 213, 49, 0.75);
}

.bouton--inverse--active {
  border-color: rgba(187, 213, 49, 0.5);
}

/****** MODULES ******/

/* ========== Général ========== */
*,
*::after,
*::before {
  box-sizing: border-box;
}

*:focus-visible {
  outline: 2px var(--clr-checked-bg) solid !important;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: var(--clr-background) !important;
  /* color: var(--clr-text) !important; */
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 2.5rem;
}

/*# sourceMappingURL=styles.css.map */

/* ========== Navbar ========== */

nav {
  max-width: 100%;
  position: fixed;
  bottom: 4%;
  left: 50%;
  transform: translate(-50%, 0);

  border-radius: 10rem;
  border: 1px solid #FFF;
  background: #E5E5E5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  padding: 1rem;
  z-index: 100;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  height: 100%;
  border-radius: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  min-width: 80px;
  gap: 4px;
}

#navLogoContainer img {
  height: 3rem;
}

#navLogoContainer {
  padding: 0;
  min-width: 0 !important;
}

nav ul li a {
  color: var(--clr-text);

  text-decoration: none;
  font-size: var(--fontsize-text-s);
}

/* ========== Footer ========== */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
  ;
  padding: 2rem;
  padding-bottom: 14vh;
  flex-direction: column;
  background-color: var(--clr-text-black);
  color: var(--clr-text-white);
}

.footerWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;
  text-align: center
}

.footerHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;
  text-align: center
}

.footerHeaderRight {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;
  text-align: center
}

.footerQuestion {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
  text-align: center;
}

.footerQuestion p {
  max-width: 400px;
}

.footerWrapper hr {
  width: 100%;
  margin: 0;
}

.footerSocialMedia {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

}

.footerSocialMedia a {
  transition: all 0.3s ease;
}

.footerSocialMedia a:hover {
  cursor: pointer;
  opacity: 0.5;
}

.footerExternalLink {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.externalLink {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-text-white);
  border-bottom: 1px solid var(--clr-text-white);
  gap: 4px;
  transition: all 0.3s ease;
}

.externalLink:hover {
  cursor: pointer;
  opacity: 0.5;
}

.footerBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  opacity: 0.75;
  width: 100%;
}

.footerBottom span {
  text-align: start;
  font-size: 0.8rem;
  max-width: 300px;
}

.textLink {
  color: var(--clr-mainbutton);
  transition: all 0.3s ease;
  text-decoration: underline !important;
}

.textLink:hover {
  cursor: pointer;
  opacity: 0.5;
}

/* ========= Logo ========= */

#leftTopLogo {
  position: fixed;
  top: 0;
  left: 0;
  margin: 2.5rem;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: 'Satoshi Black', sans-serif;
}

/* ========== Gabarit / General class ========== */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 2.5rem;
  width: 100%;
}

.mainTitle {
  font-family: 'Lc Mogi A', sans-serif;
  text-transform: uppercase;
  font-size: var(--fontsize-h1-s);
  color: var(--clr-text-black);
  text-align: center;
  margin: 0;
  padding: 0;
  font-weight: 100;
  margin-top: 14vh;
}

.mainButton {
  font-family: 'Satoshi Bold', sans-serif;
  font-size: var(--fontsize-text-s);
  color: var(--clr-text-white);
  background-color: var(--clr-mainbutton);
  padding: 1rem 2rem;
  border-radius: 4px;
  border: 2px solid var(--clr-mainbutton);
  transition: all 0.3s ease;
}

.mainButton:hover {
  cursor: pointer;
  background-color: var(--clr-mainbutton-hover);
  border: 2px solid var(--clr-mainbutton-hover);
}

.secondButton {
  font-family: 'Satoshi Bold', sans-serif;
  font-size: var(--fontsize-text-s);
  color: var(--clr-text-black);
  background-color: transparent;
  border: 2px solid var(--clr-text-black);
  padding: 1rem 2rem;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.secondButton:hover {
  cursor: pointer;
  background-color: var(--clr-text-black);
  color: var(--clr-text-white);
  opacity: 0.75;
}

.bgImg {
  max-width: 100%;
}

.whiteGlass {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 2rem;

  border-radius: 20px;
  border: 1px solid #FFF;
  background: linear-gradient(164deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.20) 97.85%);
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.10);
  backdrop-filter: blur(10px);
}

.blackGlass {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 2rem;

  border-radius: 20px;
  background: linear-gradient(164deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.20) 97.85%);
  box-shadow: 0px 20px 40px 0px rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(10px);
}

/* ============================================ */
/* ================ Form Page ================= */
/* ============================================ */

#contactFormHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#contactFormHeader p {
  text-align: right;
}

#contactFormError {
  padding: 4px;
  border-radius: 4px;
  width: 100%;
  text-align: center;
}

.formRequireStar {
  color: var(--clr-mainbutton);
}

#contactForm {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  margin: 0;
}

#contactForm input {
  border: none;
  border-radius: 4px;
  padding: 1rem;
}

#contactForm textarea {
  border: none;
  border-radius: 4px;
  padding: 1rem;
}

.formRow {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.contactInput {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 8px;
}

.contactInput input {
  width: 100%;
}

.contactInput textarea {
  border: none;
  border-radius: 4px;
  width: 100%;
  height: 100px;
}

.contactDestRow {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

.contactDesWrapper {
  gap: 8px;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}

.contactDesInput {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactDesInput label {
  font-family: 'Satoshi Black', sans-serif;
  width: 100%;
  text-align: center;
  padding: 1rem;
  background-color: var(--clr-foreground);
  border-radius: 4px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contactDesInput label span {
  font-family: 'Satoshi Medium', sans-serif;
  font-size: 1rem;
}

.contactDesInput label:hover {
  cursor: pointer;
  background-color: rgba(73, 106, 245, 0.2);
}

input[type=radio]:checked+.contactRadioLabel {
  background-color: var(--clr-mainbutton);
  color: var(--clr-text-white);
}

.contactDesInput input {
  position: absolute;
  opacity: 0;
}

.formError {
  color: var(--clr-error-text);
  font-size: var(--fontsize-text-s);
}

#bgContact1 {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -10;
  width: 100%;
}

#drawContact1 {
  position: absolute;
  left: 0;
  top: 4%;
  z-index: -10;
  opacity: 0.75;
}

#drawContact2 {
  position: absolute;
  right: -4%;
  top: -10%;
  z-index: 1;
}

#consentement {
  width: auto;
}

/* Section téléphone */

#contactPhoneHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.phoneProfileTemplate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  background-color: var(--clr-foreground);
  padding: 10px;
  border-radius: 8px;
}

.phoneProfileWrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.phoneProfileLeft {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.phoneProfileText {
  display: flex;
  flex-direction: column;
}

.imgPhoneProfile {
  width: 44px;
  height: 44px;
  border-radius: 8px;
  object-fit: cover;
}

.phoneProfileTemplate h3 {
  font-family: 'Satoshi Black', sans-serif;
  color: var(--clr-text-black);
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.phoneProfileTemplate span {
  font-family: 'Satoshi Medium', sans-serif;
  font-size: 1rem;
}

.phoneButton {
  padding: 1rem;
}

#imgPhoneProfile1 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(../img/Lamoureux.jpg), lightgray 50% / cover no-repeat;
  background-size: cover;
}

#imgPhoneProfile2 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(../img/Fevrier.png), lightgray 50% / cover no-repeat;
  background-size: cover;
}

#imgPhoneProfile3 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(../img/Larose.jpg), lightgray 50% / cover no-repeat;
  background-size: cover;
}

#imgPhoneProfile4 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(../img/frigonb.jpg), lightgray 50% / cover no-repeat;
  background-size: cover;
}

/* ============================================= */
/* ================ Stage Page ================= */
/* ============================================= */

#stageHeaderWrapper {
  gap: 2rem;
}

#stageHeaderWrapper p {
  max-width: 500px;
}

#stageHeaderWrapper hr {
  width: 100%;
  margin: 0;
}

#stageHeaderLeft {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 10px;
  width: 100%;

}

#stageHeaderRight {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.stageHeaderContainer {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 2rem;
  width: 100%;

}

.stageHeaderContainer div {
  display: flex;
  align-items: start;
  justify-content: start;
}

.stageHeaderContainer2 {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  width: 100%;
}

.stageHeaderContainer2 h3 {
  text-transform: uppercase;
}

.stageHeaderContainer2 div {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

#stageContentWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  text-align: center;
}

#stageFinauxWrapper {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

#stageAteWrapper {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  display: none;
}

.stageTitleWrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.titreEntourerWrapper {
  position: relative;
}

.titreEntourerWrapper img {
  width: 150%;
  position: absolute;
  top: -50%;
  right: -30%;
}

#stageContentWrapper p {
  max-width: 600px;
}

.stageContentWrapper {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.stageContentWrapper h3 {
  text-transform: uppercase;
}

#stageFooterWrapper {
  min-height: 700px;
  justify-content: space-between;
}

#stageButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

#drawStage1 {
  position: absolute;
  right: 0;
  top: -6%;
  z-index: 1;
}

#drawStage2 {
  position: absolute;
  left: -16%;
  top: -20%;
  z-index: 1;
}


#drawStage3 {
  position: absolute;
  right: 0%;
  bottom: 16%;
  z-index: 1;
}

#drawStage4 {
  position: absolute;
  right: -4%;
  top: -8%;
  z-index: 1;
}

#bgStage1 {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -10;
  max-width: 100%;
}

#bgStage2 {
  position: absolute;
  left: 0;
  top: 20%;
  z-index: -10;
  max-width: 100%;
}

/* ============================================ */
/* ============= Rejoindre Page ================ */
/* ============================================ */

#sommaireRejoindre {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  text-align: center;

}

#rejoindreResponsiveWrapper {
  width: 100%;
  display: flex;
  align-items: normal;
  justify-content: center;
  flex-direction: column;
  gap: 2.5rem;
  text-align: start;
}

.sommaireWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  text-align: start;
}

.anchor-button {
  border: 2px solid black;
  border-radius: 4px;
  padding: 0.5rem;
  transition: all 0.3s ease;
  background: none;
}

.anchor-button img {
  transform: rotate(90deg);
  height: 2rem;
  width: 2rem;
}

.anchor-button:hover {
  cursor: pointer;
  opacity: 0.5;
}

#etudInter {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  text-align: start;

}

#bgRejoindre1 {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -10;
  max-width: 100%;
}

#drawRejoindre1 {
  position: absolute;
  left: -20%;
  bottom: -40%;
  z-index: 1;
}

#drawRejoindre2 {
  display: none;
  position: absolute;
  right: 0%;
  bottom: -8%;
  bottom: 0;
  z-index: 1;
}

#drawRejoindre3 {
  display: none;
  position: absolute;
  right: -4%;
  bottom: -8%;
  z-index: 1;
}

#drawRejoindre4 {
  position: absolute;
  left: -10%;
  bottom: 10%;
  z-index: 1;
}

/* ============================================= */
/* ============= Page Formation ================ */
/* ============================================= */

#headerFormation {
  display: flex;
  align-items: center;
  justify-content: center;
}

#headerFormation p {
  max-width: 600px;
  text-align: center;
}

#contentFormation hr {
  width: 100%;
}

#filterFormationWrapper {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  text-align: center;
}

.contentDisplayFormation {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  text-align: start;
}

.listeFormation {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  text-align: start;
}

.listeFormationColumn {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 1rem;
}

#drawFormation1 {
  position: absolute;
  left: 10%;
  top: -160%;
  z-index: 1;
}

#drawFormation2 {
  position: absolute;
  right: 0%;
  top: 0%;
  z-index: 1;
}

#drawFormation3 {
  position: absolute;
  right: -6%;
  bottom: -20%;
}

#bgFormation1 {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -10;
  max-width: 100%;
}

#bgFormation2 {
  position: absolute;
  left: 0;
  top: 20%;
  z-index: -10;
  max-width: 100%;
}

/* ============================================ */
/* ============== Accueil Page ================ */
/* ============================================ */

.dark-theme #leftTopLogo {
  color: var(--clr-text-white);
}

.dark-theme #leftTopLogo img {
  filter: invert(1);
}

.dark-theme section {
  color: var(--clr-text-white);
}

.dark-theme .mainTitle {
  color: var(--clr-text-white);
}

#homeMainTitle {
  font-family: 'Satoshi Black', sans-serif;
  font-size: 4rem;
}

#homeLanding {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  height: 36vh;
  margin-bottom: 14vh;
  margin-top: 14vh;
}

#homeLanding .mainButton {
  font-size: 2rem;
}

.statistic {
  font-family: sans-serif;
  width: 25%;
  margin: 0 auto;
}

.statcircle--container {
  position: relative;
}

.statistic__figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.fig {
  font-size: 2rem;
  font-weight: 300;
}

.svgContent {
  width: 4rem;
}

.perc {
  font-size: 2rem;
}

.statcircle {
  fill: none;
  stroke: #d7d7d7;
  stroke-width: 25;
  stroke-miterlimit: 10;
}

.statsTextWrapper {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;

}

#statsWrapper {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.stastCat {
  font-family: "Satoshi Black", sans-serif;
  text-transform: uppercase;
}

#homeFormation {
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

#homeFormationButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  text-align: center;
}

#homeSecondSection {
  display: flex;
  align-items: initial;
  justify-content: start;
  flex-direction: column;
  gap: 2.5rem;
  width: 100%;
}

#homeSecondSection .blackGlass {
  justify-content: start;
}

#homeThirdSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 4rem;
}

#homeThirdSection .mainTitle {
  margin-top: 0
}

#homeThirdWrapper {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.listeHome {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 2rem;
  width: 100%;
  text-align: start;
}

.listeHomeColumn {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  text-align: start;
}

.debouchee {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  text-align: start;

}

.debouchee h3 {
  text-transform: uppercase;
}

.debouchee hr {
  width: 100%;

}

#homeFourthSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 4rem;
}

#homeFourthSection .mainTitle {
  margin-top: 0
}

#homeFourthWrapper {
  display: flex;
  align-items: initial;
  justify-content: start;
  flex-direction: column;
  gap: 2.5rem;
  width: 100%;
}

.deboucheeTitleWrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  width: 100%;
  text-align: start;
  text-transform: uppercase;
}

.deboucheeTitleWrapper span {
  font-size: 5rem;
  font-family: 'Lc Mogi A', sans-serif;
}

#homeCtaStage {
  width: 100%;
  text-align: center;
  margin-top: 2.5rem;
  font-size: 2rem;
}

@layer base.reset {

  :where(:not(dialog)) {
    margin: 0;
    padding: 0;
  }

  :where(a) {
    text-decoration: unset;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }

  :where(ul) {
    list-style: none;
  }

  :where(button) {
    font-family: inherit;
    cursor: pointer;
    border: unset;
  }
}


#finissantsSection {
  position: relative;
  align-items: center;
}

@layer base.components {
  .UserList {
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    /* Hide scrollbar */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .Card {
    scroll-snap-align: start;
    background-color: var(--surface-2) !important;
    border-radius: var(--custom-radios);
    padding: var(--size-4);
    position: relative;
    inline-size: 186px;
    text-decoration: none;

    figcaption {
      --_gap: 0.2ex;
    }

    img {
      --size: 80px;
      block-size: var(--size);
      inline-size: var(--size);
      border-radius: var(--radius-round);
      background: var(--gradient-8);
    }

    .Name {
      font-family: 'Satoshi Bold', sans-serif;
      color: var(--clr-text-white);
      font-size: 1.25rem;
    }

    .Username {
      font-family: 'Satoshi Medium', sans-serif;
      color: var(--clr-text-white);
      font-size: 1rem;
    }

    :is(.Name, .Username) {
      max-inline-size: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &:hover {
        text-decoration: underline;
      }
    }

  }

  .Name,
  .Username {
    max-inline-size: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .Controls {
    position: absolute;
    inset-inline: 0;
    inset-block: calc(85% - var(--size-3));

    .Wrapper {
      --_content: 800px;
    }

    @media (width < 768px) {
      display: none;
    }
  }

  .ControlsBtn {
    inline-size: 44px;
    block-size: 44px;
    padding: 0.75rem;
    border-radius: var(--radius-round) !important;
    background-color: var(--clr-sidebutton) !important;
    color: var(--clr-background);
    transition: scale 0.2s ease;

    &:hover {
      scale: 1.07;
    }
  }

  :where(.content-3) {
    --_content: initial;
    inline-size: min(80%, var(--_content, 980px));
  }
}

@layer animation.scrollDriven {
  body {
    timeline-scope: --carousel;
  }

  .Scroller {
    scroll-timeline: --carousel inline;
  }

  .next {
    animation: auto next ease forwards;
    animation-timeline: --carousel;
  }

  .previous {
    animation: auto prev ease forwards;
    animation-timeline: --carousel;
  }
}

@keyframes prev {
  from {
    visibility: hidden;
  }
}

@keyframes next {
  to {
    visibility: hidden;
  }
}

#titleFinissant {
  margin-top: 4rem;
}

.finissantButton {
  padding: 0.5rem 3rem;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--clr-text-white);
  text-decoration: none;
  cursor: pointer;
}

/* Modal Header */
.modal-header {
  padding: 2rem;
  border-radius: 20px;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--surface-2);
  color: var(--clr-text-white);
}

/* Modal Body */
.modal-body {
  padding: 2rem;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.modal-body-left {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

/* Modal Content */
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--surface-2);
  color: var(--clr-text-white);
  margin: auto;
  padding: 0;
  width: 80%;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 50%;
    opacity: 1
  }
}

#bgAccueil1 {
  position: absolute;
  filter: blur(2px);
  right: 0;
  top: 0;
  z-index: -10;
  max-width: 100%;
}

#bgAccueil2 {
  position: absolute;
  left: 0;
  top: 30%;
  z-index: -10;
  max-width: 100%;
}

#bgAccueil3 {
  position: absolute;
  right: 0;
  top: 45%;
  z-index: -10;
  max-width: 100%;
}

#bgAccueil4 {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -10;
  max-width: 100%;
}

#drawAccueil1 {
  display: none;
}

#drawAccueil2 {
  display: none;
}

#drawAccueil3 {
  display: none;
}

/* ============================================ */
/* =============== Projet Page ================ */
/* ============================================ */

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: transparent !important;
  color: var(--clr-text-white);
  cursor: pointer;
  width: 100% !important;
  border: none;
  outline: none;

  display: flex;
  align-self: center;
  justify-content: space-between;

  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover {
  opacity: 0.5;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px !important;
  width: 100%;
  display: none;
  overflow: hidden;
}

.panel form {
  color: var(--clr-text-white);
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 3rem;
  width: 100%;

}

.panel form input {
  display: none !important;
}

.panel form hr {
  width: 100%;
  margin: 0;
}

.filtreWrapper {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  text-align: start;
}

.filtreInputWrapper {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 1rem;
  width: 100%;
  text-align: start;
  flex-wrap: wrap;
}

.filtreButtonWrapper {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  text-align: start;
  flex-wrap: wrap;
}

#accordionSub {
  gap: 1rem;
}

.dark-theme .secondButton {
  color: var(--clr-text-white);
  border-color: var(--clr-text-white);
}

.dark-theme .secondButton:hover {
  color: var(--clr-text-black);
  background-color: var(--clr-text-white);
}

.filtreInputWrapper div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filtreLabel {
  background-color: var(--clr-text-white);
  color: var(--clr-text-black);
  padding: 1rem 2rem;
  border-radius: 4px;
  opacity: 0.8;
  transition: all 0.3s ease;
}

.filtreLabel:hover {
  opacity: 1;
  cursor: pointer;
}

.filtreInput:checked+.filtreLabel {
  background-color: var(--clr-checked-bg) !important;
  color: var(--clr-text-white);
}

#projetWrapperGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.imgProjet {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

#finissantWrapper {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.headerFinissant {
  color: var(--clr-text-white);
  gap: 0;
  text-align: end;
}

.contentFinissant {
  color: var(--clr-text-white);
  max-width: 80%;
}

.interetProgress {
  display: none;
}

#finissantContentWapper {
  display: flex;
  align-items: initial;
  justify-content: space-between;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

#finissantContentWapper .blackGlass {
  justify-content: start;
}

.interetWrapper {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.interetRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.subInteret {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

progress[value] {
  --color: var(--clr-mainbutton);
  /* the progress color */
  --background: transparent;
  /* the background color */

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: 200px;
  margin: 0 10px;
  border-radius: 10em;
  background: var(--background);
}

progress[value]::-webkit-progress-bar {
  border-radius: 10em;
  background: var(--background);
}

progress[value]::-webkit-progress-value {
  border-radius: 10em;
  background: var(--color);
}

progress[value]::-moz-progress-bar {
  border-radius: 10em;
  background: var(--color);
}

.etapeWrapper {
  color: var(--clr-text-white) !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 2rem;
}

.etapeImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0px 0px;
}

/* ============================================ */
/* ============= Fiche Projet ================ */
/* ============================================ */

.projectTitleWrapper {
  width: 100%;
  margin-top: 14vh;
  color: var(--clr-text-white);
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 1rem;
}

.ficheTitle {
  font-family: 'Lc Mogi A', sans-serif;
  text-transform: uppercase;
  font-size: var(--fontsize-h1-s);
  color: var(--clr-text-white);
  text-align: start;
  margin: 0;
  padding: 0;
  font-weight: 100;
  max-width: 800px;
}

.technoWrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  width: 100%;
  text-align: center;
  flex-wrap: wrap;
}

.technoTag {
  background-color: var(--clr-text-white);
  color: var(--clr-text-black);
  padding: 0.5rem 1rem;
  border-radius: 4px;
  opacity: 0.8;
  transition: all 0.3s ease;
  font-family: 'Satoshi Black', sans-serif;
  font-size: 1.5rem;
}

#projectLeftWrapper {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  width: 100%;
  text-align: start;
  gap: 10px;
}

#projectRightWrapper p {
  max-width: 800px;
}

#projectTopWrapper {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  color: var(--clr-text-white);
}

#projectBottomWrapper {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: column;
  color: var(--clr-text-white);
}

.imgFiche1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.imageWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.5rem;
}

.imgFiche {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

#recommandation {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 1rem;
}

#recommandationWrapper {
  width: 100%;
  display: flex;
  align-items: initial;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

/* ============================================ */
/* ============= Media Queries ================ */
/* ============================================ */

@media only screen and (min-width: 768px) {

  /* ========== Gabarit ========== */

  main {
    padding: 0 5.875rem;
  }

  .mainTitle {
    margin-top: 8vh;
    font-size: 4rem;
  }

  /* ========== Navbar ========== */

  nav ul {
    gap: 1rem;
  }

  nav ul li:hover {
    cursor: pointer;
    background-color: var(--clr-nav-hover);
    color: var(--clr-text-white);
  }

  nav ul li {
    padding: 1rem 3rem;
  }

  #navLogoContainer img {
    height: 4rem;
  }

  #navLogoContainer:hover {
    cursor: pointer;
    background-color: transparent !important;
    color: transparent !important;
    opacity: 0.5;
  }

  /* ========== Footer ========== */

  footer {
    padding: 5.875rem;
    padding-bottom: 12vh;
  }

  .footerWrapper {
    gap: 4rem;
  }

  .footerQuestion {
    gap: 2rem;
  }

  .footerBottom span {
    font-size: 1rem;
    max-width: 400px;
  }

  /* ========== Contact Page ========== */

  .whiteGlass {
    padding: 4rem;
  }

  .blackGlass {
    padding: 4rem;
  }

  .formRow {
    flex-direction: row;
  }

  .contactDestRow {
    flex-direction: row;
  }

  #drawContact1 {
    left: -6%;
    top: 2%;
  }

  #drawContact2 {
    right: -8%;
    top: -24%;
  }

  /* ========== Stage Page ========== */

  .titreEntourerWrapper img {
    top: -50%;
    right: -30%;
  }

  #stageFooterWrapper {
    min-height: 500px;
  }

  #drawStage1 {
    right: -4%;
    top: -10%;
  }

  #drawStage2 {
    position: absolute;
    left: -10%;
    top: -30%;
    z-index: 1;
  }

  #drawStage3 {
    position: absolute;
    right: -4%;
    bottom: 16%;
    z-index: 1;
  }

  #drawStage4 {
    position: absolute;
    right: -8%;
    top: -20%;
    z-index: 1;
  }

  /* ===== Rejoindre Page ===== */

  #drawRejoindre1 {
    left: -20%;
    bottom: -60%;
  }

  #drawRejoindre2 {
    display: block;
  }

  #drawRejoindre3 {
    display: block;
  }

  #drawRejoindre4 {
    left: -8%;
    bottom: 18%;
  }

  /* ===== Formation Page ===== */

  .listeFormation {
    flex-direction: row;
  }

  #drawFormation1 {
    top: -180%;
  }

  #drawFormation3 {
    right: 8%;
    bottom: -34%;
  }

  #bgFormation2 {
    top: 10%;
  }

  /* ===== Accueil Page ===== */

  #homeMainTitle {
    font-size: 6rem;
  }

  #statsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .statistic {
    width: 10%;
  }

  .svgContent {
    width: 2rem;
  }

  .stastCat {
    font-size: 1rem;
  }

  .fig {
    font-size: 1rem;
  }

  .perc {
    font-size: 1rem;
  }

  #homeSecondSection {
    flex-direction: row;
  }

  #finissantsSection {
    padding-bottom: 8rem;
  }

  .modal-header {
    padding: 4rem;
    padding-bottom: 0rem;
  }

  .modal-body {
    padding: 4rem;
    padding-top: 2rem;
  }

  #drawAccueil1 {
    display: block;
    position: absolute;
    right: 30%;
    top: 1%;
  }

  #drawAccueil2 {
    display: block;
    position: absolute;
    right: 20%;
    top: 12%;
  }

  /* ==== page projets ==== */

  #projetWrapperGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  /* ==== fiche projet ==== */

  .projectTitleWrapper {
    margin-top: 14vh;
  }

  .ficheTitle {
    font-size: 4rem;
  }

  .projectTitleWrapper {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }

  .interetProgress {
    display: flex;
  }

  #finissantContentWapper {
    flex-direction: row;
  }

}

@media only screen and (min-width: 992px) {

  /* ========== Navbar ========== */

  nav {
    top: 4%;
    bottom: auto;
  }

  /* ========== Footer ========== */

  #firstHrFooter {
    display: none;
  }

  .footerHeader {
    flex-direction: row;
    justify-content: space-between;
  }

  .footerBottom span {
    font-size: 1.2rem;
    max-width: 500px;
  }

  .footerQuestion {
    align-items: start;
    text-align: start;
  }

  .footerExternalLink {
    align-items: start;
    text-align: start;
  }

  .footerHeaderRight {
    width: auto;
    flex-direction: column-reverse;
    align-items: start;
  }

  /* ========== Gabarit ========== */

  main {
    padding: 0 14rem;
  }

  .mainTitle {
    margin-top: 14vh;
    font-size: 6rem;
  }

  /* ========== Contact Page ========== */

  #drawContact1 {
    left: -2%;
    top: 6%;
  }

  #drawContact2 {
    right: -4%;
    top: -40%;
  }

  .phoneProfileWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .imgPhoneProfile {
    width: 60px;
    height: 60px;
  }

  .phoneProfileTemplate span {
    font-family: 'Satoshi Medium', sans-serif;
    font-size: 1.2rem;
  }


  /* ================ Stage Page ================= */

  #stageHeaderWrapper {
    flex-direction: row;
  }

  #stageHeaderWrapper hr {
    display: none;
  }

  #stageHeaderLeft {
    border-right: 1px solid var(--clr-text-black);
  }

  .titreEntourerWrapper img {
    top: -40%;
    right: -30%;
  }

  #drawStage1 {
    right: -4%;
    top: -24%;

  }

  #drawStage2 {
    position: absolute;
    left: -14%;
    top: -50%;
    z-index: 1;
  }

  #drawStage3 {
    position: absolute;
    right: -4%;
    bottom: 0%;
    z-index: 1;
  }

  #drawStage4 {
    position: absolute;
    right: -4%;
    top: -30%;
    z-index: 1;
  }

  #drawStage4 {
    position: absolute;
    right: -10%;
    top: -24%;
    z-index: 1;
  }

  #bgStage2 {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -10;
    max-width: 40%;
  }

  /* ========== Rejoindre Page ========== */

  #rejoindreResponsiveWrapper {
    flex-direction: row;
  }

  #drawRejoindre1 {
    left: -20%;
    bottom: -30%;
  }

  #bgRejoindre1 {
    max-width: 60%;
  }

  /* ===== Formation Page ===== */

  .listeFormation {
    width: 60%;
  }

  #drawFormation1 {
    left: 20%;
    top: -100%;
  }

  #drawFormation3 {
    right: 0%;
    bottom: -34%;
  }

  #autresDisplay p {
    max-width: 700px;
  }

  /* ===== Accueil Page ===== */

  #homeLanding {

    height: 76vh;
  }

  #homeMainTitle {
    font-size: 8rem;
  }

  #statsWrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .statistic {
    width: 8%;
  }

  .svgContent {
    width: 3rem;
  }

  .stastCat {
    font-size: 1.5rem;
  }

  .fig {
    font-size: 1.5rem;
  }

  .perc {
    font-size: 1.5rem;
  }

  #homeThirdWrapper {
    flex-direction: row;
  }

  #homeThirdWrapper p {
    width: 70%;
  }

  .listeHome {
    width: 30%;
    flex-direction: column;
  }

  :where(.content-3) {
    --_content: initial;
    inline-size: min(80%, var(--_content, 980px));
  }

  .modal-body {
    flex-direction: row;
    justify-content: space-between;
  }

  .modal-body p {
    width: 70%;
  }

  .modal-body-left {
    text-align: end;
    align-items: end;
    width: 30%;
  }

  #drawAccueil1 {
    right: 20%;
    top: 0%;
  }

  #drawAccueil2 {
    right: 16%;
    top: 12%;
  }

  #drawAccueil3 {
    display: block;
    position: absolute;
    right: -6%;
    bottom: -20%;
  }

  #finissantWrapper {
    flex-direction: row;
  }

  #recommandationWrapper {
    flex-direction: row;
  }


}


/* DESKTOP ONLYYY */
@media only screen and (min-width: 1025px) {

  /* ========= Accueil Page ========*/
  #homeFourthWrapper {
    flex-direction: row;
  }

  #drawRejoindre1 {
    left: -20%;
    bottom: -40%;
  }

  #BgAccueil1 {
    top: 0;
  }

  #drawContact1 {
    left: -2%;
    top: 3%;
  }

  #drawAccueil1 {
    right: 40%;
    top: 3%;
  }

  #drawAccueil2 {
    right: 35%;
    top: 16%;
  }

  .accordion {
    padding: 18px;
  }

  /* ==== fiche projet ==== */

  .projectTitleWrapper {
    margin-top: 20vh;
  }

  .ficheTitle {
    font-size: 6rem;
  }

  .etapeWrapper {
    flex-direction: row;
  }
  
  .etapeImg {
    width: 50%;
    border-radius: 8px 0px 0px 8px;
  }

}